.course-module
  padding: 0 30px
  .info-card
    width: 100%
    margin: 30px auto
    .info-card-header
      display: block
      font-size: 28px
      padding: 5px
      margin-left: 15px
    .info-card-content
      font-size: 18px
      line-height: 28px
      margin: 0
      padding: 15px
      border: 1px solid rgba(0, 0, 0, 0.2)
      border-radius: 8px
      white-space: pre-wrap
